<a href="https://colab.research.google.com/github/kevinkirotichkibet/MoringaSchoolDataSciencewk1/blob/main/Copy_of_SQL_Programming_Selecting_%26_Retrieving_Data_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Selecting & Retrieving Data with SQL

## 1.1 Let's first connect to our Database

In [ ]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

## 1.2 Importing Data From a CSV File

In [ ]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

Then we will download our csv file from Interpol: [here](https://bit.ly/InterpolDataset) and World Cup [here](http://bit.ly/MSWorldCupData)  . Open the link and then on our browser  Click File > Save Page As > Save. Lastly, upload it to our current environment on Colaboratory by clicking View > Table of Contents > Files then Upload.  (NB: Do not load file from url)

In [ ]:
# Loading the first table from a local CSV file
#
with open('Countries.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Then storing it in an SQL table of our in memory sqlite database
#
#%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

In [ ]:
# We will load all the other dataset that we will need i.e. WorldCup
#
with open('WorldCup.csv','r') as f:
    WorldCup = pd.read_csv(f, index_col=0, encoding='utf-8') 
    
#sql DROP TABLE if EXISTS WorldCup;
%sql PERSIST WorldCup;

 * sqlite://

'Persisted worldcup'

In [ ]:
# Let's preview our Interpol table so that we can understand it
# Try to understand all the attributes (i.e columns) since this
# will be one of the datasets that we will work with through this session
#
%sql select * from Interpol;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Belarus', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/by.gif'),
 ('Belgium', 0, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/be.gif'),
 ('Belize', 1, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/b/bz.gif'),
 ('Bolivia', 0, 0, 2, 'South America', 'http://www.crwflags.com/fotw/images/b/bo.gif'),
 ('Botswana', 0, 1, 1, 'Southern Africa', 'http://www.crwflags.com/fotw/images/b/bw.gif'),
 ('Brazil', 2, 4, 3, 'South America', 'http://www.crwflags.com/fotw/images/b/br.gif'),
 ('Cambodia', 0, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/k/kh.gif'),
 ('Canada', 3, 4, 2, 'North America', 'http://www.crwflags.com/fotw/images/c/ca.gif'),
 ('Cayman Islands', 0, 0, 1, 'Central America', 'http://www.crwflags.com/fotw/images/k/ky.gif'),
 ('Chile', 1, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/c/cl.gif'),
 ('Colombia', 3, 0, 1, 'South America', 'http://www.crwflags.com/fotw/images/c/co.gif'),
 ('Congo', 0, 0, 1, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/c/cg.gif'),
 ('Costa Rica', 0, 1, 2, 'Central America', 'http://www.crwflags.com/fotw/images/c/cr.gif'),
 ('Croatia', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/h/hr.gif'),
 ('Curaçao', 0, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/c/cw.gif'),
 ('Czech Republic', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/c/cz.gif'),
 ('Denmark', 0, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/d/dk.gif'),
 ('Dominican Republic', 1, 1, 2, 'Central America', 'http://www.crwflags.com/fotw/images/d/do.gif'),
 ('Ecuador', 0, 0, 1, 'South America', 'http://www.worldatlas.com/webimage/flags/countrys/zzzflags/eclarge.jpg'),
 ('El Salvador', 2, 2, 0, 'Central America', 'http://www.crwflags.com/fotw/images/s/sv.gif'),
 ('Estonia', 1, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/e/ee.gif'),
 ('Finland', 2, 2, 3, 'Europe', 'http://www.crwflags.com/fotw/images/f/fi.gif'),
 ('France', 0, 0, 7, 'Europe', 'http://www.crwflags.com/fotw/images/f/fr.gif'),
 ('Georgia, Asia', 2, 2, 0, 'Asia', 'http://www.crwflags.com/fotw/images/g/ge.gif'),
 ('Germany', 1, 0, 3, 'Europe', 'http://www.crwflags.com/fotw/images/d/de.gif'),
 ('Greece', 1, 1, 3, 'Europe', 'http://www.crwflags.com/fotw/images/g/gr.gif'),
 ('Honduras', 1, 0, 1, 'Central America', 'http://www.crwflags.com/fotw/images/h/hn.gif'),
 ('Hungary', 2, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/h/hu.gif'),
 ('India', 0, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/i/in.gif'),
 ('Indonesia', 1, 1, 0, 'Asia', 'http://www.crwflags.com/fotw/images/i/id.gif'),
 ('Iraq', 1, 0, 1, 'Asia', 'http://www.crwflags.com/fotw/images/i/iq.gif'),
 ('Ireland', 2, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/i/ie.gif'),
 ('Italy', 1, 1, 3, 'Europe', 'http://www.crwflags.com/fotw/images/i/it.gif'),
 ('Kenya', 1, 1, 2, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/k/ke.gif'),
 ('Lesotho', 0, 0, 1, 'Southern Africa', 'http://www.crwflags.com/fotw/images/l/ls.gif'),
 ('Lithuania', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/l/lt.gif'),
 ('Macedonia', 0, 0, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/mk.gif'),
 ('Mali', 0, 1, 0, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/m/ml.gif'),
 ('Malta', 0, 0, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/mt.gif'),
 ('Mexico', 3, 0, 6, 'Central America', 'http://www.crwflags.com/fotw/images/m/mx.gif'),
 ('Montenegro', 3, 2, 1, 'Europe', 'http://www.crwflags.com/fotw/images/m/me.gif'),
 ('Morocco', 2, 0, 3, 'Northern Africa', 'http://www.crwflags.com/fotw/images/m/ma.gif'),
 ('Mozambique', 0, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/m/mz.gif'),
 ('Namibia', 0, 0, 1, 'Southern Africa', 'http://www.crwflags.com/fotw/images/n/na.gif'),
 ('New Zealand', 0, 0, 1, 'Oceania', 'http://www.crwflags.com/fotw/images/n/nz.gif'),
 ('Nicaragua', 1, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/n/ni.gif'),
 ('Norway', 0, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/n/no.gif'),
 ('Pakistan', 1, 0, 2, 'Asia', 'http://www.crwflags.com/fotw/images/p/pk.gif'),
 ('Panama', 0, 0, 2, 'Central America', 'http://www.crwflags.com/fotw/images/p/pa.gif'),
 ('Paraguay', 1, 1, 1, 'South America', 'http://www.crwflags.com/fotw/images/p/py.gif'),
 ('Peru', 2, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/p/pe.gif'),
 ('Poland', 4, 4, 3, 'Europe', 'http://www.crwflags.com/fotw/images/p/pl.gif'),
 ('Qatar', 0, 0, 1, 'Asia', 'http://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Qatar.svg'),
 ('Romania', 4, 4, 0, 'Europe', 'http://www.crwflags.com/fotw/images/r/ro.gif'),
 ('Russia', 2, 1, 3, 'Europe, Asia', 'http://www.crwflags.com/fotw/images/r/ru.gif'),
 ('Serbia', 0, 0, 1, 'Europe', 'http://www.crwflags.com/fotw/images/r/rs.gif'),
 ('Slovakia', 2, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/s/sk.gif'),
 ('Somalia', 1, 0, 0, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/s/so.gif'),
 ('South Africa', 3, 2, 4, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/za.gif'),
 ('Spain', 1, 2, 13, 'Europe', 'http://www.crwflags.com/fotw/images/e/es.gif'),
 ('Swaziland', 1, 1, 1, 'Southern Africa', 'http://www.crwflags.com/fotw/images/s/sz.gif'),
 ('Sweden', 2, 3, 1, 'Europe', 'http://www.crwflags.com/fotw/images/s/se.gif'),
 ('Tanzania', 0, 1, 2, 'Sub Saharan Africa', 'http://www.crwflags.com/fotw/images/t/tz.gif'),
 ('The Netherlands', 6, 3, 8, 'Europe', 'http://www.crwflags.com/fotw/images/n/nl.gif'),
 ('Turkey', 0, 0, 1, 'Europe', 'http://www.crwflags.com/fotw/images/t/tr.gif'),
 ('Ukraine', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/u/ua.gif'),
 ('United Kingdom', 6, 4, 7, 'Europe', 'http://www.crwflags.com/fotw/images/g/gb.gif'),
 ('United States', 8, 11, 6, 'North America', 'http://www.crwflags.com/fotw/images/u/us.gif'),
 ('Uruguay', 1, 1, 1, 'South America', 'http://www.crwflags.com/fotw/images/u/uy.gif'),
 ('Venezuela', 0, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/v/ve.gif'),
 ('Zambia', 1, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zm.gif'),
 ('Zimbabwe', 0, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zw.gif')]

In [ ]:
# Let's preview our Worldcup table so that we can also understand it.
# You will be acting as a football commentator performing research on the 
# world cup matches played in the past.
# 
%sql SELECT * FROM WorldCup limit 5;

## 1.3 Select Single Columns

In [ ]:
# Example 1
# This is how we will select a single column (i.e. the Country Column) from the Interpol Dataset
#
%%sql
SELECT Country FROM Interpol;

In [ ]:
# Example 2
# Let's get the European countries without National fugitives  
# 
%%sql
SELECT Country FROM Interpol WHERE "National Fugitives" = 0 AND Region = "Europe";

In [ ]:
# Example 3
# Let's select the regions without National fugitives
#
%%sql
SELECT Region FROM Interpol WHERE "National Fugitives" = 0;

### <font color="green"> 1.3 Challenges</font>

In [ ]:
# Challenge 1
# Using the Interpol Dataset, let us get the Northern African countries that  
# do not host possible fugitives or captured fugitives
# 
%%sql
SELECT Country FROM Interpol WHERE "Region" = "Northern Africa" AND "Possible Hosted Fugitives / Captured Fugitives" = 0;

In [ ]:
# Challenge 2
# Using the Interpol Dataset, let us get the countries without a National fugitive and a Wanted fugitive
#
%%sql
SELECT Country FROM Interpol WHERE "National fugitive" = 0 AND "Wanted Fugitive" = 0;

In [ ]:
# Challenge 3
# Using the Interpol Dataset, which european countries have 3 National Fugitives
# 
%%sql
SELECT Country FROM Interpol WHERE "Region" = "Europe" OR "National fugitive" = 3;

## 1.4 Multiple columns

In [ ]:
# Example 1
# Using the Interpol dataset, we would like to know the countries and their respective No. of Captured fugitives.
#
%%sql
SELECT Country, "Possible Hosted Fugitives / Captured Fugitives" FROM Interpol;

In [ ]:
# Example 2
# Using the world cup dataset, let's get teams that played in the matches with their respective referee
# 
%%sql
SELECT "Home_Team_Name", "Away_Team_Name", Referee FROM WorldCup;

In [ ]:
# Example 3
# Find out any three matches that have had 5 away goals  
#
%%sql
SELECT * FROM WorldCup Where "Away_Team_Goals" = 5 LIMIT 3;

### <font color="green"> 1.4 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, let's get countries with their respective 
# No. of National fugitives and Wanted fugitives
# 
%%sql
SELECT Country, "National Fugitives", "Wanted Fugitives" FROM Interpol;

In [ ]:
# Challenge 2
# Using WorldCup dataset, find out which group 4 world cup matches 
# that were played in the city of Montevideo 
#
%%sql
SELECT * FROM WorldCup
WHERE City="Montevideo " AND Stage="Group 4";

In [ ]:
# Challenge 3
# Answering the same question as challenge 2, we would like to get only one match
# 
# OUR CODE GOES HERE
WorldCup.head(2)

 * sqlite://
Done.

[]

In [ ]:
WorldCup["City"].value_counts()

In [ ]:
%%sql
SELECT * FROM WorldCup 
WHERE City="Montevideo " AND Stage="Group 1";

In [ ]:
%%sql
SELECT * FROM Interpol LIMIT 10;

In [ ]:
# SELECT Country FROM Interpol LIMIT 10;
Interpol.columns.values

## 1.5 Orderby

In [ ]:
# Example 1
# Using the Interpol dataset, let's get all our records ordering 
# them by the region in ascending order
#
%%sql
SELECT * FROM Interpol
ORDER BY Region ASC;

In [ ]:
# Example 2
# We can do the same as in example 1 but now having the records in descending order 
# as shown below
#
%%sql
SELECT * FROM Interpol
ORDER BY Country DESC;

In [ ]:
# Example 3 
# Using the Worldcup dataset, we can select 5 World Cup Group 1 matches played 
# after 1950 and having them ordered by city in ascending order as shown below
#
%%sql
SELECT * FROM WorldCup
WHERE Stage='Group 1' AND Year > 1950
ORDER BY City ASC
LIMIT 5;

### <font color="green"> 1.5 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, select all the records and order them by National Fugitives in ascending order
# 
%%sql
SELECT * FROM Interpol
ORDER BY "National Fugitives" ASC;

In [ ]:
# Challenge 2
# Using WorldCup Dataset, get the matches played in the Pocitos stadium and their attendance 
# later than 1950 and ordering them by attendance in descending order
# 
%%sql
SELECT Stadium,"Attendance" FROM WorldCup WHERE Stadium = "Pocitos"
ORDER BY Attendance DESC;

In [ ]:
# Challenge 3
# Get the World Cup Matches played in France after 1970 ordered by years in descending order 

%%sql
SELECT * FROM WorldCup 
WHERE "Home_Team_Name"="France" AND "Year"=1970
ORDER BY Year DESC;

## 1.6 Where

In [ ]:
# Example 1
# From our Interpol dataset, let's find out which Countries have had three or more than three National Fugitives.
#
%%sql
SELECT * FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 2
# From our Interpol dataset, let's get the European countries and the no of Wanted fugitives they have
#
%%sql
SELECT Country, "Wanted Fugitives" FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 3
# From our WorldCup dataset, Let us select the home teams, away teams 
# and the respective no. of home team goals, no. of away team goals
# for the years after 1950
#
%%sql
SELECT Year, Stage, Home_Team_Name, Home_Team_Goals, Away_Team_Name, Away_Team_Goals FROM WorldCup
WHERE Year > 1930
LIMIT 7;

### <font color="green"> 1.6 Challenges</font>

In [ ]:
# Challenge 1
# From our Interpol dataset, find out which  country had the most Captured Fugitives 
#
%%sql
SELECT Country, MAX("Possible Hosted Fugitives / Captured Fugitives") as "Max Possible Hosted Fugitives / Captured Fugitives"
FROM Interpol;

 * sqlite://
Done.

[('Spain', 13)]

In [ ]:
# Challenge 2
# Using our Interpol dataset, get the european and asian countries;
#
%%sql
SELECT * FROM Interpol
WHERE Region="Europe" OR "Asia";

In [ ]:
# Challenge 3 
# From our Interpol dataset, find out which top countries had the least National fugities
#
%%sql
SELECT "Country", MIN("National Fugitive") as "Min National Fugitive"
FROM Interpol;

 * sqlite://
Done.

[('Albania', 'National Fugitive')]

## 1.7 Between

In [ ]:
# Example 1
# Select the countries with national fugitives between 0 and 3 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" BETWEEN 0 AND 3 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 2
# Select the countries with national fugitives not between 0 and 4 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" NOT BETWEEN 0 AND 4 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 3
# Select any 5 matches played after 1950 which did not have the home team as Germany
#
%%sql
SELECT * FROM WorldCup
WHERE NOT "Home Team Name" = 'Germany' AND NOT Year < 1950
LIMIT 5;

### <font color="green"> 1.7 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, get all asian countries with wanted fugitives between 0 and 2
#
%%sql
SELECT Country FROM Interpol
 WHERE Region = "Asia" BETWEEN 0 AND 2

In [ ]:
# Challenge 2
# From the World cup dataset, get all the matches that were played later than 1980 with an attendance less than 5000 
# 
%%sql
SELECT * FROM WorldCup
WHERE 'Year' > 1980 AND Attendance < 5000

In [ ]:
# Challenge 3 
# Which matches were played between the year 1990 and 2000?
# 
%%sql
SELECT * FROM WorldCup
WHERE  1990<= 'Year' <=2000

## 1.8 Distinct

In [ ]:
# Example 1
# Let's find out which stadiums have hosted world cup matches
%%sql
SELECT DISTINCT Stadium FROM WorldCup;

In [ ]:
# Example 2
# Let's find out which world cup cities have hosted world cup matches after 2000
#
%%sql
SELECT DISTINCT City FROM WorldCup WHERE Year > 2000;

### <font color="green"> 1.8 Challenges</font>

In [ ]:
# Challenge 1
# Name the stages in the world cup and order them alphabetically by stage.
# 
%%sql
SELECT DISTINCT Stage FROM WorldCup
ORDER BY Stage ASC

In [ ]:
# Challenge 2
# Which cities hosted the world cup between 1950 and 2000?
#
%%sql 
SELECT DISTINCT City FROM WorldCup
WHERE 1950 <= 'Year' <= 2000

In [ ]:
# Challenge 3
# During which years was the world cup hosted in?
#
%%sql
SELECT DISTINCT Year FROM WorldCup

## 1.9 Count

In [ ]:
# Example 1
# How many countries were listed in interpol's data? 
#
%%sql
SELECT COUNT(Country) FROM Interpol;

In [ ]:
# Example 2
# How many times has Brazil played home during world cup matches?
#
%%sql
SELECT COUNT("Home_Team_Name") FROM WorldCup where Home_Team_Name = 'Brazil';

In [ ]:
# Example 3
# Find out the number of times that stadiums have hosted matches in the World Cup? 
# 
%%sql
SELECT COUNT(Stadium)
FROM WorldCup;

### <font color="green"> 1.9 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, find out how many wanted fugitives there are in Northern Africa.
# 
%%sql
SELECT COUNT("Wanted Fugitives") FROM WorldCup WHERE "Region" = 'Northern Africa'

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 2
# Using WorldCup Dataset, find out how many Possible Hosted Fugitives / Captured Fugitives 
# there are in Europe and Northern Africa.
# 
%%sql 
SELECT COUNT("Possible Hosted Fugitives / Captured Fugitives") FROM WorldCup 
WHERE "Region" = 'Europe' OR 'Northern Africa'

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 3
# Using WorldCup dataset, find out how many away teams were played where a team scored more than 3 goals.
# 
%%sql
SELECT COUNT("Away_Team_Names") FROM WorldCup
WHERE Away_Team_Goals > 3

 * sqlite://
Done.

[(24,)]

## 1.10 Groupby

In [ ]:
# Example 1
# Which three stadiums have hosted the most world cup games?
#
%%sql
SELECT Stadium, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) DESC LIMIT 3;

In [ ]:
# Example 2
# Which three stadiums have hosted the least world cup games?
#
%%sql
SELECT City, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) ASC LIMIT 3;

### <font color="green"> 1.10 Challenges</font>

In [ ]:
# Challenge 1
# What has been the largest no. of home goals scored by three home teams? 
# 
%%sql 
SELECT Home_Team_Name, MAX(Home_Team_Goals) as Home_Team_Goals FROM WorldCup
GROUP BY Home_Team_Goals
ORDER BY MAX(Home_Team_Goals) DESC LIMIT 3;

In [ ]:
# Challenge 2
# Which away teams have scored the lowest no. of away goals?
%%sql
SELECT Away_Team_Name, MIN(Away_Team_Goals)  FROM WorldCup
GROUP BY Away_Team_Goals;

In [ ]:
# Challenge 3
# Select records from the World Cup Dataset grouping by City 
# 
%%sql
SELECT * FROM WorldCup
GROUP BY City;

##1.11 Null Values

In [ ]:
# Example 1
# Select any one record from the world cup dataset that has null examples?
# 
%%sql
SELECT *
FROM WorldCup
WHERE Attendance IS NULL LIMIT 1;

In [ ]:
# Example 2
# Select any 5 records without null examples from the Worldcup Dataset 
#
%%sql
SELECT *
FROM WorldCup
WHERE City IS NOT NULL
LIMIT 5;

### <font color="green"> 1.11 Challenges</font>

In [ ]:
# Challenge 1
# Using the Worldcup dataset, select all the records that contain null values?
#
%%sql
SELECT * FROM WorldCup LIMIT 5;

In [ ]:
# Challenge 2
# Select all the records that do not contain null values from the Interpol dataset
#
%%sql 
SELECT "Country", "National Fugitives", "Wanted Fugitives", "Possible Hosted Fugitives / Captured Fugitives", "Region", "Flag"
FROM Interpol
WHERE "National Fugitives" OR "Wanted Fugitives" OR "Possible Hosted Fugitives / Captured Fugitives" OR "Region" OR "Flag" IS NOT NULL;